In this notebook, we have taken about 5000 urls of each whois verified benign urls and whois verified phishing urls to form the final dataset.

In [1]:
import pandas as pd

In [2]:
phishing_urls_whois_verified = pd.read_csv("Dataset/whois_verified_phishing_urls.csv")

In [3]:
benign_urls_whois_verified = pd.read_csv("Dataset/whois_verified_benign_urls.csv")

In [4]:
phishing_urls_whois_verified.shape

(3309, 2)

In [5]:
benign_urls_whois_verified.shape

(245, 2)

In [20]:
benign_urls_whois_verified['url']= benign_urls_whois_verified['url'].apply(lambda x: "{}{}".format('https://', x))

In [ ]:
phishing_urls_whois_verified.to_csv("Dataset/DTphish.csv",index=False)

In [23]:
phishing_urls_whois_verified['url']= phishing_urls_whois_verified['url'].apply(lambda x: "{}{}".format('http://', x))

In [38]:
phishing_urls_whois_verified.head()

                              url  label
0  http://appleid.apple.com-sa.pm      1
1             http://grandcup.xyz      1
2        http://villa-azzurro.com      1
3            http://mygpstrip.net      1
4            http://35.199.84.117      1

In [40]:
phishing_urls_whois_verified.to_csv("Dataset/DTphish.csv",index=False)

In [22]:
benign_urls_whois_verified.head()

                       url  label
0        https://ecnavi.jp      0
1     https://hubpages.com      0
2  https://extratorrent.cc      0
3    https://icicibank.com      0
4       https://nypost.com      0

In [25]:
phishing_urls_whois_verified_reduced = phishing_urls_whois_verified[:3000]

In [26]:
phishing_urls_whois_verified_reduced.shape

(3000, 2)

In [27]:
benign_urls_whois_verified_reduced = benign_urls_whois_verified[:245]

In [28]:
benign_urls_whois_verified_reduced.shape

(245, 2)

In [29]:
combined = pd.DataFrame()

In [30]:
combined = pd.concat([benign_urls_whois_verified_reduced,phishing_urls_whois_verified_reduced])

In [31]:
combined.shape

(3245, 2)

In [32]:
combined.to_csv("Dataset/PhishingData.csv", index=False)

In [33]:
# Load Datasets
def loadDataset(file_name):
    df = pd.read_csv(file_name)
    return df

df = loadDataset("Dataset/PhishingData.csv")

In [34]:
df.info

<bound method DataFrame.info of                                                 url  label
0                                 https://ecnavi.jp      0
1                              https://hubpages.com      0
2                           https://extratorrent.cc      0
3                             https://icicibank.com      0
4                                https://nypost.com      0
...                                             ...    ...
3240                          http://recover.tym.tw      1
3241  http://optus.verification.online-australia.co      1
3242                  http://mitrasolusiseragam.com      1
3243                        http://lokumdukkani.com      1
3244                        http://skinponkits.club      1

[3245 rows x 2 columns]>

In [35]:
df.head()

                       url  label
0        https://ecnavi.jp      0
1     https://hubpages.com      0
2  https://extratorrent.cc      0
3    https://icicibank.com      0
4       https://nypost.com      0

In [36]:
df.tail()

                                                url  label
3240                          http://recover.tym.tw      1
3241  http://optus.verification.online-australia.co      1
3242                  http://mitrasolusiseragam.com      1
3243                        http://lokumdukkani.com      1
3244                        http://skinponkits.club      1

In [37]:
df.to_csv('Dataset/data.csv',index=False)