In this notebook, we are preparing our dataset for further processing.  Here, we remove null and duplicates.

In [88]:
import numpy as np
import pandas as pd

In [89]:
# Load Datasets
def loadDataset(file_name):
    df = pd.read_csv(file_name, encoding = "ISO-8859-1", on_bad_lines='skip')
    return df

In [90]:
df = loadDataset("CICBELLDNS2021datasets/CSV_phishing.csv")

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             3578 non-null   object
 1   ASN                 3578 non-null   float64
 2   TTL                 5001 non-null   int64
 3   IP                  3588 non-null   object
 4   Domain              5001 non-null   object
 5   Name_Server_Count   3967 non-null   float64
 6   Domain_Age          3967 non-null   object
 7   entropy             5001 non-null   float64
 8   hex_8               5001 non-null   int64
 9   numeric_percentage  5001 non-null   float64
 10  1gram               5001 non-null   object
 11  typos               5001 non-null   object
 12  tld                 5001 non-null   object
 13  char_distribution   5001 non-null   object
 14  subdomain           5001 non-null   int64
 15  puny_coded          5001 non-null   int64
 16  Organization        2163 non-null   object
 17  Country.1           2720 non-null   object
 18  longest_word        5001 non-null   object
 19  dec_8               5001 non-null   int64
 20  dec_32              5001 non-null   int64
 21  Registrant_Name     65 non-null     object
 22  sld                 5001 non-null   object
 23  shortened           5000 non-null   float64
 24  2gram               5001 non-null   object
 25  oc_8                5001 non-null   int64
 26  State               2331 non-null   object
 27  Registrar           3132 non-null   object
 28  hex_32              5001 non-null   float64
 29  Page_Rank           3967 non-null   float64
 30  oc_32               5001 non-null   float64
 31  Alexa_Rank          3967 non-null   float64
 32  len                 5001 non-null   int64
 33  obfuscate_at_sign   5001 non-null   object
 34  Emails              2884 non-null   object
 35  3gram               5001 non-null   object
 36  Domain_Name         3370 non-null   object
 37  Creation_Date_Time  3203 non-null   object
dtypes: float64(9), int64(8), object(21)
memory usage: 1.4+ MB

In [92]:
df.shape

(5001, 38)

In [93]:
df.columns

Index(['Country', 'ASN', 'TTL', 'IP', 'Domain', 'Name_Server_Count',
       'Domain_Age', 'entropy', 'hex_8', 'numeric_percentage', '1gram',
       'typos', 'tld', 'char_distribution', 'subdomain', 'puny_coded',
       'Organization', 'Country.1', 'longest_word', 'dec_8', 'dec_32',
       'Registrant_Name', 'sld', 'shortened', '2gram', 'oc_8', 'State',
       'Registrar', 'hex_32', 'Page_Rank', 'oc_32', 'Alexa_Rank', 'len',
       'obfuscate_at_sign', 'Emails', '3gram', 'Domain_Name',
       'Creation_Date_Time'],
      dtype='object')

We want only domain and label columns from the dataset.

## domain of a legitimate/phishing website 
 
## Label: 0 indicates legitimate URL

## Label: 1 indicates malicious URL

In [94]:
#taking only required columns into a new Dataframe
#urldata = urldata.filter(['Domain','Label'])

In [95]:
df

,Country,ASN,TTL,IP,Domain,Name_Server_Count,Domain_Age,entropy,hex_8,numeric_percentage,...,hex_32,Page_Rank,oc_32,Alexa_Rank,len,obfuscate_at_sign,Emails,3gram,Domain_Name,Creation_Date_Time
0,NL,204915.0,2,145.14.145.41,programafidelidadeitacard2.cf,0.0,0,3.426210,0,3.225806,...,0.0,-1.0,0.0,-1.0,27,0,NaN,['pro' ; 'rog' ; 'ogr' ; 'gra' ; 'ram' ; 'ama'...,NaN,NaN
1,NaN,NaN,31,NaN,programafidelidadeitacard2.cf,0.0,0,3.426210,0,3.225806,...,0.0,-1.0,0.0,-1.0,27,0,NaN,['pro' ; 'rog' ; 'ogr' ; 'gra' ; 'ram' ; 'ama'...,NaN,NaN
2,US,46606.0,14399,192.185.222.90,professorjosesilveira.com,4.0,1735 days |23:54:04.131042,3.153791,0,0.000000,...,0.0,-1.0,0.0,-1.0,22,0,['abuse-contact@publicdomainregistry.com' ; 'j...,['pro' ; 'rof' ; 'ofe' ; 'fes' ; 'ess' ; 'sso'...,PROFESSORJOSESILVEIRA.COM,2015-07-21 11:49:15
3,PL,198414.0,14399,91.234.146.162,www.ksylitol.com,4.0,5117 days |0:37:18.475051,2.723308,0,0.000000,...,0.0,-1.0,0.0,-1.0,12,0,['abuse@netart-registrar.com' ; 'wpbpifqxoouo-...,['ksy' ; 'syl' ; 'yli' ; 'lit' ; 'ito' ; 'tol'],['KSYLITOL.COM' ; 'ksylitol.com'],2006-04-18 11:06:02
4,PL,198414.0,14399,91.234.146.162,www.ksylitol.com,4.0,5117 days |0:37:19.474684,2.723308,0,0.000000,...,0.0,-1.0,0.0,-1.0,12,0,['abuse@netart-registrar.com' ; 'wpbpifqxoouo-...,['ksy' ; 'syl' ; 'yli' ; 'lit' ; 'ito' ; 'tol'],['KSYLITOL.COM' ; 'ksylitol.com'],2006-04-18 11:06:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,NaN,NaN,213,NaN,onedrive.live.com,16.0,9246 days |8:48:05.425427,2.742338,0,0.000000,...,0.0,-1.0,0.0,18.0,13,0,['domainabuse@cscglobal.com' ; 'domains@micros...,['liv' ; 'ive'],['LIVE.COM' ; 'live.com'],1994-12-28 05:00:00
4997,US,8068.0,224,13.107.42.13,onedrive.live.com,16.0,9246 days |8:48:06.167647,2.742338,0,0.000000,...,0.0,-1.0,0.0,18.0,13,0,['domainabuse@cscglobal.com' ; 'domains@micros...,['liv' ; 'ive'],['LIVE.COM' ; 'live.com'],1994-12-28 05:00:00
4998,NaN,NaN,203,NaN,onedrive.live.com,16.0,9246 days |8:48:06.881517,2.742338,0,0.000000,...,0.0,-1.0,0.0,18.0,13,0,['domainabuse@cscglobal.com' ; 'domains@micros...,['liv' ; 'ive'],['LIVE.COM' ; 'live.com'],1994-12-28 05:00:00
4999,US,8068.0,213,13.107.42.13,onedrive.live.com,16.0,9246 days |8:48:07.672354,2.742338,0,0.000000,...,0.0,-1.0,0.0,18.0,13,0,['domainabuse@cscglobal.com' ; 'domains@micros...,['liv' ; 'ive'],['LIVE.COM' ; 'live.com'],1994-12-28 05:00:00
5000,NaN,NaN,202,NaN,onedrive.live.com,16.0,9246 days |8:48:08.469021,2.742338,0,0.000000,...,0.0,-1.0,0.0,18.0,13,0,['domainabuse@cscglobal.com' ; 'domains@micros...,['liv' ; 'ive'],['LIVE.COM' ; 'live.com'],1994-12-28 05:00:00

In [97]:
#Adding columns label = 1 for phishing domains to the dataframe df
df['label']="1"
df
df = df[['Country', 'ASN', 'TTL', 'IP', 'Domain', 'State', 'Registrant_Name','Country.1', 'Creation_Date_Time', 'hex_32', 'hex_8', 'Domain_Name',
       'Alexa_Rank', 'subdomain', 'Organization', 'len', 'longest_word',
       'oc_32', 'shortened', '1gram', 'obfuscate_at_sign', 'entropy',
       'Domain_Age', 'tld', 'dec_8', 'dec_32', 'Emails', 'numeric_percentage',
       'puny_coded', 'typos', 'oc_8', '3gram', 'char_distribution', '2gram',
       'Registrar', 'sld', 'Name_Server_Count', 'Page_Rank','label']]

df

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,...,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank,label
0,NL,204915.0,2,145.14.145.41,programafidelidadeitacard2.cf,NaN,NaN,NaN,NaN,0.0,...,"[('deviantart.com', 53), ('canada.ca', 53)]",0,['pro' ; 'rog' ; 'ogr' ; 'gra' ; 'ram' ; 'ama'...,defaultdict(<class 'int'> {'a': 5; 'g': 1; '...,['pr' ; 'ro' ; 'og' ; 'gr' ; 'ra' ; 'am' ; 'ma...,NaN,programafidelidadeitacard2,0.0,-1.0,1
1,NaN,NaN,31,NaN,programafidelidadeitacard2.cf,NaN,NaN,NaN,NaN,0.0,...,"[('deviantart.com', 53), ('canada.ca', 53)]",0,['pro' ; 'rog' ; 'ogr' ; 'gra' ; 'ram' ; 'ama'...,defaultdict(<class 'int'> {'a': 5; 'g': 1; '...,['pr' ; 'ro' ; 'og' ; 'gr' ; 'ra' ; 'am' ; 'ma...,NaN,programafidelidadeitacard2,0.0,-1.0,1
2,US,46606.0,14399,192.185.222.90,professorjosesilveira.com,MG,NaN,BR,2015-07-21 11:49:15,0.0,...,"[('facebook.com', 86), ('twitter.com', 86)]",0,['pro' ; 'rof' ; 'ofe' ; 'fes' ; 'ess' ; 'sso'...,defaultdict(<class 'int'> {'a': 1; 'v': 1; '...,['pr' ; 'ro' ; 'of' ; 'fe' ; 'es' ; 'ss' ; 'so...,PDR Ltd. d/b/a PublicDomainRegistry.com,professorjosesilveira,4.0,-1.0,1
3,PL,198414.0,14399,91.234.146.162,www.ksylitol.com,NaN,NaN,PL,2006-04-18 11:06:02,0.0,...,"[('qq.com', 86), ('vk.com', 86)]",0,['ksy' ; 'syl' ; 'yli' ; 'lit' ; 'ito' ; 'tol'],defaultdict(<class 'int'> {'k': 1; 'l': 2; '...,['ks' ; 'sy' ; 'yl' ; 'li' ; 'it' ; 'to' ; 'ol'],NetArt Registrar Sp. z o.o.,ksylitol,4.0,-1.0,1
4,PL,198414.0,14399,91.234.146.162,www.ksylitol.com,NaN,NaN,PL,2006-04-18 11:06:02,0.0,...,"[('qq.com', 86), ('vk.com', 86)]",0,['ksy' ; 'syl' ; 'yli' ; 'lit' ; 'ito' ; 'tol'],defaultdict(<class 'int'> {'k': 1; 'l': 2; '...,['ks' ; 'sy' ; 'yl' ; 'li' ; 'it' ; 'to' ; 'ol'],NetArt Registrar Sp. z o.o.,ksylitol,4.0,-1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,NaN,NaN,213,NaN,onedrive.live.com,WA,NaN,US,1994-12-28 05:00:00,0.0,...,"[('live.com', 100), ('facebook.com', 86)]",0,['liv' ; 'ive'],defaultdict(<class 'int'> {'v': 2; 'i': 2; '...,['li' ; 'iv' ; 've'],CSC CORPORATE DOMAINS- INC.,live,16.0,-1.0,1
4997,US,8068.0,224,13.107.42.13,onedrive.live.com,WA,NaN,US,1994-12-28 05:00:00,0.0,...,"[('live.com', 100), ('facebook.com', 86)]",0,['liv' ; 'ive'],defaultdict(<class 'int'> {'v': 2; 'i': 2; '...,['li' ; 'iv' ; 've'],CSC CORPORATE DOMAINS- INC.,live,16.0,-1.0,1
4998,NaN,NaN,203,NaN,onedrive.live.com,WA,NaN,US,1994-12-28 05:00:00,0.0,...,"[('live.com', 100), ('facebook.com', 86)]",0,['liv' ; 'ive'],defaultdict(<class 'int'> {'v': 2; 'i': 2; '...,['li' ; 'iv' ; 've'],CSC CORPORATE DOMAINS- INC.,live,16.0,-1.0,1
4999,US,8068.0,213,13.107.42.13,onedrive.live.com,WA,NaN,US,1994-12-28 05:00:00,0.0,...,"[('live.com', 100), ('facebook.com', 86)]",0,['liv' ; 'ive'],defaultdict(<class 'int'> {'v': 2; 'i': 2; '...,['li' ; 'iv' ; 've'],CSC CORPORATE DOMAINS- INC.,live,16.0,-1.0,1
5000,NaN,NaN,202,NaN,onedrive.live.com,WA,NaN,US,1994-12-28 05:00:00,0.0,...,"[('live.com', 100), ('facebook.com', 86)]",0,['liv' ; 'ive'],defaultdict(<class 'int'> {'v': 2; 'i': 2; '...,['li' ; 'iv' ; 've'],CSC CORPORATE DOMAINS- INC.,live,16.0,-1.0,1

In [98]:
df.shape

(5001, 39)

In [55]:
urldata= loadDataset("CICBELLDNS2021datasets/CSV_benign.csv")

C:\Users\PC1\AppData\Local\Temp/ipykernel_10060/1449237700.py:1: DtypeWarning: Columns (9,10,12,13,15,17,18,20,21,24,25,27,28,30) have mixed types.Specify dtype option on import or set low_memory=False.
  urldata= loadDataset("CICBELLDNS2021datasets/CSV_benign.csv")

In [56]:
urldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495663 entries, 0 to 495662
Data columns (total 38 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             386436 non-null  object
 1   ASN                 386494 non-null  float64
 2   TTL                 495663 non-null  int64
 3   IP                  387690 non-null  object
 4   Domain              495660 non-null  object
 5   State               219856 non-null  object
 6   Registrant_Name     13474 non-null   object
 7   Country.1           254734 non-null  object
 8   Creation_Date_Time  364056 non-null  object
 9   hex_32              495663 non-null  object
 10  hex_8               495661 non-null  object
 11  Domain_Name         398974 non-null  object
 12  Alexa_Rank          441815 non-null  object
 13  subdomain           495660 non-null  object
 14  Organization        202098 non-null  object
 15  len                 495663 non-null  object
 16  longest_word        495528 non-null  object
 17  oc_32               495663 non-null  object
 18  shortened           494302 non-null  object
 19  1gram               495663 non-null  object
 20  obfuscate_at_sign   495663 non-null  object
 21  entropy             495644 non-null  object
 22  Domain_Age          441894 non-null  object
 23  tld                 495662 non-null  object
 24  dec_8               495662 non-null  object
 25  dec_32              495359 non-null  object
 26  Emails              324708 non-null  object
 27  numeric_percentage  495663 non-null  object
 28  puny_coded          495663 non-null  object
 29  typos               495663 non-null  object
 30  oc_8                495663 non-null  object
 31  3gram               495663 non-null  object
 32  char_distribution   495663 non-null  object
 33  2gram               495557 non-null  object
 34  Registrar           354417 non-null  object
 35  sld                 495475 non-null  object
 36  Name_Server_Count   441713 non-null  float64
 37  Page_Rank           441369 non-null  float64
dtypes: float64(3), int64(1), object(34)
memory usage: 143.7+ MB

In [57]:
urldata

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,...,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank
0,US,15169.0,46,172.217.1.174,google.com,CA,NaN,US,1997-09-15 04:00:00,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'g'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor- INC.,google,8.0,-1.0
1,NaN,NaN,299,NaN,google.com,CA,NaN,US,1997-09-15 04:00:00,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'g'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor- INC.,google,8.0,-1.0
2,NaN,NaN,38,NaN,www.google.com,NaN,NaN,NaN,1997-09-15 04:00:00,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'w'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor Inc.,google,4.0,-1.0
3,US,15169.0,299,172.217.164.228,www.google.com,NaN,NaN,NaN,NaN,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'w'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],NaN,google,NaN,NaN
4,NaN,NaN,96,NaN,facebook.com,CA,NaN,US,1997-03-29 05:00:00,0,...,0,[('facebook.com';100); ('qq.com';86)],0,['fac' ; 'ace' ; 'ce; 'ebo' ; 'boo' ; 'ook'],defaultdict(<class 'int'> {'e': 1; 'c': 1; 'o'...,['fa' ; 'ac' ; 'ce' ; 'e; 'bo' ; 'oo' ; 'ok'],RegistrarSafe- LLC,facebook,4.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495658,NaN,NaN,298,NaN,rossdawson.com,New South Wales,NaN,AU,2006-02-05 02:21:21,0,...,0,[('apple.com';86); ('adobe.com';86)],0,['ros' ; 'oss' ; 'ssd' ; 'sda' ; 'daw' ; 'aws'...,defaultdict(<class 'int'> {'o': 2; 'r': 1; 'n'...,['ro' ; 'os' ; 'ss' ; 'sd' ; 'da' ; 'aw' ; 'ws...,GoDaddy.com- LLC,rossdawson,2.0,-1.0
495659,DE,8560.0,3599,217.160.0.178,weddingprime.de,NaN,NaN,NaN,NaN,0,...,0,[('google.de';86); ('amazon.de';86)],0,['wed' ; 'edd' ; 'ddi' ; 'din' ; 'ing' ; 'ngp'...,defaultdict(<class 'int'> {'e': 2; 'i': 2; 'g'...,['we' ; 'ed' ; 'dd' ; 'di' ; 'in' ; 'ng' ; 'gp...,NaN,weddingprime,0.0,-1.0
495660,NaN,NaN,3599,NaN,weddingprime.de,NaN,NaN,NaN,NaN,0,...,0,[('google.de';86); ('amazon.de';86)],0,['wed' ; 'edd' ; 'ddi' ; 'din' ; 'ing' ; 'ngp'...,defaultdict(<class 'int'> {'e': 2; 'i': 2; 'g'...,['we' ; 'ed' ; 'dd' ; 'di' ; 'in' ; 'ng' ; 'gp...,NaN,weddingprime,0.0,-1.0
495661,UA,24703.0,21599,195.128.17.206,vlasenko.net,--,NaN,UA,2000-10-16 13:58:43,0,...,0,[('php.net';86); ('a8.net';86)],0,['vla' ; 'las' ; 'ase' ; 'sen' ; 'enk' ; 'nko'],defaultdict(<class 'int'> {'e': 1; 'k': 1; 'n'...,['vl' ; 'la' ; 'as' ; 'se' ; 'en' ; 'nk' ; 'ko'],CSL Computer Service Langenbach GmbH d/b/a jok...,vlasenko,6.0,-1.0
495662,AU,24446.0,14399,202.47.4.14,drterrencescamp.com.au,NaN,NaN,NaN,NaN,0,...,0,[('facebook.com';86); ('twitter.com';86)],0,['drt' ; 'rte' ; 'ter' ; 'err' ; 'rre' ; 'ren'...,defaultdict(<class 'int'> {'t': 1; 'e': 3; 'p'...,['dr' ; 'rt' ; 'te' ; 'er' ; 'rr' ; 're' ; 'en...,NaN,drterrencescamp,0.0,-1.0

In [58]:
urldata.shape

(495663, 38)

In [59]:
#removing duplicates
urldata = urldata.drop_duplicates()

In [60]:
#urldata.shape

(495663, 38)

In [61]:
urldata.to_csv("CICBELLDNS2021datasets/processed_CSV_benign.csv",index=False)

In [99]:
bd = loadDataset("CICBELLDNS2021datasets/processed_CSV_benign.csv")

C:\Users\PC1\AppData\Local\Temp/ipykernel_10060/3938783579.py:1: DtypeWarning: Columns (9,10,12,13,15,17,18,20,21,24,25,27,28,30) have mixed types.Specify dtype option on import or set low_memory=False.
  bd = loadDataset("CICBELLDNS2021datasets/processed_CSV_benign.csv")

In [100]:
bd.shape

(495663, 38)

In [101]:
bd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495663 entries, 0 to 495662
Data columns (total 38 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             386436 non-null  object
 1   ASN                 386494 non-null  float64
 2   TTL                 495663 non-null  int64
 3   IP                  387690 non-null  object
 4   Domain              495660 non-null  object
 5   State               219856 non-null  object
 6   Registrant_Name     13474 non-null   object
 7   Country.1           254734 non-null  object
 8   Creation_Date_Time  364056 non-null  object
 9   hex_32              495663 non-null  object
 10  hex_8               495661 non-null  object
 11  Domain_Name         398974 non-null  object
 12  Alexa_Rank          441815 non-null  object
 13  subdomain           495660 non-null  object
 14  Organization        202098 non-null  object
 15  len                 495663 non-null  object
 16  longest_word        495528 non-null  object
 17  oc_32               495663 non-null  object
 18  shortened           494302 non-null  object
 19  1gram               495663 non-null  object
 20  obfuscate_at_sign   495663 non-null  object
 21  entropy             495644 non-null  object
 22  Domain_Age          441894 non-null  object
 23  tld                 495662 non-null  object
 24  dec_8               495662 non-null  object
 25  dec_32              495359 non-null  object
 26  Emails              324708 non-null  object
 27  numeric_percentage  495663 non-null  object
 28  puny_coded          495663 non-null  object
 29  typos               495663 non-null  object
 30  oc_8                495663 non-null  object
 31  3gram               495663 non-null  object
 32  char_distribution   495663 non-null  object
 33  2gram               495557 non-null  object
 34  Registrar           354417 non-null  object
 35  sld                 495475 non-null  object
 36  Name_Server_Count   441713 non-null  float64
 37  Page_Rank           441369 non-null  float64
dtypes: float64(3), int64(1), object(34)
memory usage: 143.7+ MB

In [102]:
bd

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,...,puny_coded,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank
0,US,15169.0,46,172.217.1.174,google.com,CA,NaN,US,1997-09-15 04:00:00,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'g'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor- INC.,google,8.0,-1.0
1,NaN,NaN,299,NaN,google.com,CA,NaN,US,1997-09-15 04:00:00,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'g'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor- INC.,google,8.0,-1.0
2,NaN,NaN,38,NaN,www.google.com,NaN,NaN,NaN,1997-09-15 04:00:00,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'w'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor Inc.,google,4.0,-1.0
3,US,15169.0,299,172.217.164.228,www.google.com,NaN,NaN,NaN,NaN,0,...,0,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'w'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],NaN,google,NaN,NaN
4,NaN,NaN,96,NaN,facebook.com,CA,NaN,US,1997-03-29 05:00:00,0,...,0,[('facebook.com';100); ('qq.com';86)],0,['fac' ; 'ace' ; 'ce; 'ebo' ; 'boo' ; 'ook'],defaultdict(<class 'int'> {'e': 1; 'c': 1; 'o'...,['fa' ; 'ac' ; 'ce' ; 'e; 'bo' ; 'oo' ; 'ok'],RegistrarSafe- LLC,facebook,4.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495658,NaN,NaN,298,NaN,rossdawson.com,New South Wales,NaN,AU,2006-02-05 02:21:21,0,...,0,[('apple.com';86); ('adobe.com';86)],0,['ros' ; 'oss' ; 'ssd' ; 'sda' ; 'daw' ; 'aws'...,defaultdict(<class 'int'> {'o': 2; 'r': 1; 'n'...,['ro' ; 'os' ; 'ss' ; 'sd' ; 'da' ; 'aw' ; 'ws...,GoDaddy.com- LLC,rossdawson,2.0,-1.0
495659,DE,8560.0,3599,217.160.0.178,weddingprime.de,NaN,NaN,NaN,NaN,0,...,0,[('google.de';86); ('amazon.de';86)],0,['wed' ; 'edd' ; 'ddi' ; 'din' ; 'ing' ; 'ngp'...,defaultdict(<class 'int'> {'e': 2; 'i': 2; 'g'...,['we' ; 'ed' ; 'dd' ; 'di' ; 'in' ; 'ng' ; 'gp...,NaN,weddingprime,0.0,-1.0
495660,NaN,NaN,3599,NaN,weddingprime.de,NaN,NaN,NaN,NaN,0,...,0,[('google.de';86); ('amazon.de';86)],0,['wed' ; 'edd' ; 'ddi' ; 'din' ; 'ing' ; 'ngp'...,defaultdict(<class 'int'> {'e': 2; 'i': 2; 'g'...,['we' ; 'ed' ; 'dd' ; 'di' ; 'in' ; 'ng' ; 'gp...,NaN,weddingprime,0.0,-1.0
495661,UA,24703.0,21599,195.128.17.206,vlasenko.net,--,NaN,UA,2000-10-16 13:58:43,0,...,0,[('php.net';86); ('a8.net';86)],0,['vla' ; 'las' ; 'ase' ; 'sen' ; 'enk' ; 'nko'],defaultdict(<class 'int'> {'e': 1; 'k': 1; 'n'...,['vl' ; 'la' ; 'as' ; 'se' ; 'en' ; 'nk' ; 'ko'],CSL Computer Service Langenbach GmbH d/b/a jok...,vlasenko,6.0,-1.0
495662,AU,24446.0,14399,202.47.4.14,drterrencescamp.com.au,NaN,NaN,NaN,NaN,0,...,0,[('facebook.com';86); ('twitter.com';86)],0,['drt' ; 'rte' ; 'ter' ; 'err' ; 'rre' ; 'ren'...,defaultdict(<class 'int'> {'t': 1; 'e': 3; 'p'...,['dr' ; 'rt' ; 'te' ; 'er' ; 'rr' ; 're' ; 'en...,NaN,drterrencescamp,0.0,-1.0

In [103]:
#Adding columns label = 0 for benign domains to the dataframe 
bd['label']="0"
bd
bd = bd[['Country', 'ASN', 'TTL', 'IP', 'Domain', 'State', 'Registrant_Name','Country.1', 'Creation_Date_Time', 'hex_32', 'hex_8', 'Domain_Name',
       'Alexa_Rank', 'subdomain', 'Organization', 'len', 'longest_word',
       'oc_32', 'shortened', '1gram', 'obfuscate_at_sign', 'entropy',
       'Domain_Age', 'tld', 'dec_8', 'dec_32', 'Emails', 'numeric_percentage',
       'puny_coded', 'typos', 'oc_8', '3gram', 'char_distribution', '2gram',
       'Registrar', 'sld', 'Name_Server_Count', 'Page_Rank','label']]

bd

,Country,ASN,TTL,IP,Domain,State,Registrant_Name,Country.1,Creation_Date_Time,hex_32,...,typos,oc_8,3gram,char_distribution,2gram,Registrar,sld,Name_Server_Count,Page_Rank,label
0,US,15169.0,46,172.217.1.174,google.com,CA,NaN,US,1997-09-15 04:00:00,0,...,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'g'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor- INC.,google,8.0,-1.0,0
1,NaN,NaN,299,NaN,google.com,CA,NaN,US,1997-09-15 04:00:00,0,...,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'g'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor- INC.,google,8.0,-1.0,0
2,NaN,NaN,38,NaN,www.google.com,NaN,NaN,NaN,1997-09-15 04:00:00,0,...,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'w'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],MarkMonitor Inc.,google,4.0,-1.0,0
3,US,15169.0,299,172.217.164.228,www.google.com,NaN,NaN,NaN,NaN,0,...,[('google.com';100); ('google.com.br';95)],0,['goo' ; 'oog' ; 'ogl' ; 'gle'],defaultdict(<class 'int'> {'e': 1; 'o': 2; 'w'...,['go' ; 'oo' ; 'og' ; 'gl' ; 'le'],NaN,google,NaN,NaN,0
4,NaN,NaN,96,NaN,facebook.com,CA,NaN,US,1997-03-29 05:00:00,0,...,[('facebook.com';100); ('qq.com';86)],0,['fac' ; 'ace' ; 'ce; 'ebo' ; 'boo' ; 'ook'],defaultdict(<class 'int'> {'e': 1; 'c': 1; 'o'...,['fa' ; 'ac' ; 'ce' ; 'e; 'bo' ; 'oo' ; 'ok'],RegistrarSafe- LLC,facebook,4.0,-1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495658,NaN,NaN,298,NaN,rossdawson.com,New South Wales,NaN,AU,2006-02-05 02:21:21,0,...,[('apple.com';86); ('adobe.com';86)],0,['ros' ; 'oss' ; 'ssd' ; 'sda' ; 'daw' ; 'aws'...,defaultdict(<class 'int'> {'o': 2; 'r': 1; 'n'...,['ro' ; 'os' ; 'ss' ; 'sd' ; 'da' ; 'aw' ; 'ws...,GoDaddy.com- LLC,rossdawson,2.0,-1.0,0
495659,DE,8560.0,3599,217.160.0.178,weddingprime.de,NaN,NaN,NaN,NaN,0,...,[('google.de';86); ('amazon.de';86)],0,['wed' ; 'edd' ; 'ddi' ; 'din' ; 'ing' ; 'ngp'...,defaultdict(<class 'int'> {'e': 2; 'i': 2; 'g'...,['we' ; 'ed' ; 'dd' ; 'di' ; 'in' ; 'ng' ; 'gp...,NaN,weddingprime,0.0,-1.0,0
495660,NaN,NaN,3599,NaN,weddingprime.de,NaN,NaN,NaN,NaN,0,...,[('google.de';86); ('amazon.de';86)],0,['wed' ; 'edd' ; 'ddi' ; 'din' ; 'ing' ; 'ngp'...,defaultdict(<class 'int'> {'e': 2; 'i': 2; 'g'...,['we' ; 'ed' ; 'dd' ; 'di' ; 'in' ; 'ng' ; 'gp...,NaN,weddingprime,0.0,-1.0,0
495661,UA,24703.0,21599,195.128.17.206,vlasenko.net,--,NaN,UA,2000-10-16 13:58:43,0,...,[('php.net';86); ('a8.net';86)],0,['vla' ; 'las' ; 'ase' ; 'sen' ; 'enk' ; 'nko'],defaultdict(<class 'int'> {'e': 1; 'k': 1; 'n'...,['vl' ; 'la' ; 'as' ; 'se' ; 'en' ; 'nk' ; 'ko'],CSL Computer Service Langenbach GmbH d/b/a jok...,vlasenko,6.0,-1.0,0
495662,AU,24446.0,14399,202.47.4.14,drterrencescamp.com.au,NaN,NaN,NaN,NaN,0,...,[('facebook.com';86); ('twitter.com';86)],0,['drt' ; 'rte' ; 'ter' ; 'err' ; 'rre' ; 'ren'...,defaultdict(<class 'int'> {'t': 1; 'e': 3; 'p'...,['dr' ; 'rt' ; 'te' ; 'er' ; 'rr' ; 're' ; 'en...,NaN,drterrencescamp,0.0,-1.0,0

In [104]:
bd.shape

(495663, 39)

In [107]:
#495663+5001

500664

In [105]:
# using merge function by setting how='inner'
df_final = pd.concat([df,bd])

In [106]:
df_final.shape

(500664, 39)

In [108]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500664 entries, 0 to 495662
Data columns (total 39 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country             390014 non-null  object
 1   ASN                 390072 non-null  float64
 2   TTL                 500664 non-null  int64
 3   IP                  391278 non-null  object
 4   Domain              500661 non-null  object
 5   State               222187 non-null  object
 6   Registrant_Name     13539 non-null   object
 7   Country.1           257454 non-null  object
 8   Creation_Date_Time  367259 non-null  object
 9   hex_32              500664 non-null  object
 10  hex_8               500662 non-null  object
 11  Domain_Name         402344 non-null  object
 12  Alexa_Rank          445782 non-null  object
 13  subdomain           500661 non-null  object
 14  Organization        204261 non-null  object
 15  len                 500664 non-null  object
 16  longest_word        500529 non-null  object
 17  oc_32               500664 non-null  object
 18  shortened           499302 non-null  object
 19  1gram               500664 non-null  object
 20  obfuscate_at_sign   500664 non-null  object
 21  entropy             500645 non-null  object
 22  Domain_Age          445861 non-null  object
 23  tld                 500663 non-null  object
 24  dec_8               500663 non-null  object
 25  dec_32              500360 non-null  object
 26  Emails              327592 non-null  object
 27  numeric_percentage  500664 non-null  object
 28  puny_coded          500664 non-null  object
 29  typos               500664 non-null  object
 30  oc_8                500664 non-null  object
 31  3gram               500664 non-null  object
 32  char_distribution   500664 non-null  object
 33  2gram               500558 non-null  object
 34  Registrar           357549 non-null  object
 35  sld                 500476 non-null  object
 36  Name_Server_Count   445680 non-null  float64
 37  Page_Rank           445336 non-null  float64
 38  label               500664 non-null  object
dtypes: float64(3), int64(1), object(35)
memory usage: 152.8+ MB

In [109]:
df_final.to_csv("Train_Dataset/Training_data_INPDS.csv",index=False)